[run]
source=q2_amr
branch = True
omit =
    */tests*
    */__init__.py
    q2_amr/_version.py
    versioneer.py

[report]
fail_under = 90
omit =
    */tests*
    */__init__.py
    q2_amr/_version.py
    versioneer.py
